<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Flask + JavaScript + Sqlite</title>
</head>
<body>
  {% if usuario is none %}
    {% if request.path == '/' %}
      <h1>Inicio</h1>
      <a href="{{ url_for('signin') }}" class="link">Login</a> <a href="{{ url_for('registro') }}" class="link">Registrarse</a><h2>Bienvenido a la página de inicio!</h2> 
      <div class="center-image">
        <img src="{{ url_for('static', filename='images/80sComputers.webp') }}">
      </div> 

    {% elif request.path == '/signin' %}
      <h1>Página de inicio de sesión</h1>
      <a href="{{ url_for('index') }}" class="link">Volver al índice</a>
      <!-- Formulario de inicio de sesión -->
      <form action="/login" method="POST" onsubmit="return validatePassword()">
        <label for="username">Usuario:</label>
        <input type="text" name="username" required class="dark-input">
        <label for="password">Contraseña:</label>
        <input type="password" name="password" id="password" required class="dark-input">
        <label></label>
        <input type="submit" value="Login">
      </form>
      
    {% elif request.path == '/registro' %}
      <h1>Página de registro</h1>
      <a href="{{ url_for('index') }}" class="link">Volver al índice</a>
      <!-- Formulario de registro -->
      <form action="/register" method="POST" onsubmit="return validatePassword()">
        <label for="username">Usuario:</label>
        <input type="text" name="username" required class="dark-input">
        <label for="password">Contraseña:</label>
        <input type="password" name="password" id="password" required class="dark-input">
        <label></label>
        <input type="submit" value="Registrarse">
      </form>
      {% endif %}
  {% else %}
    <h1>Calculadora</h1>
    <p>Authenticated with {{ usuario }} <a href="/logout" class="link">[Logout]</a> </p>
    <form id="calculator-form">
      <input type="text" id="display" readonly>
      <br>
      <button type="button" onclick="appendToDisplay('1')">1</button>
      <button type="button" onclick="appendToDisplay('2')">2</button>
      <button type="button" onclick="appendToDisplay('3')">3</button>
      <button type="button" class="black" onclick="appendToDisplay('+')">+</button>
      <br>
      <button type="button" onclick="appendToDisplay('4')">4</button>
      <button type="button" onclick="appendToDisplay('5')">5</button>
      <button type="button" onclick="appendToDisplay('6')">6</button>
      <button type="button" class="black" onclick="appendToDisplay('-')">-</button>
      <br>
      <button type="button" onclick="appendToDisplay('7')">7</button>
      <button type="button" onclick="appendToDisplay('8')">8</button>
      <button type="button" onclick="appendToDisplay('9')">9</button>
      <button type="button" class="black" onclick="appendToDisplay('*')">x</button>
      <br>
      <button type="button" class="equals" onclick="clearDisplay()">C</button>
      <button type="button" onclick="appendToDisplay('0')">0</button>
      <button type="button" class="equals" onclick="calculateResult()">=</button>
      <button type="button" class="black" onclick="appendToDisplay('/')">/</button>
  </form>
  {% endif %}
  
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
