<!-- index.html.j2 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>{{ title }}</title>
</head>
<body>
   <h1>Bienvenido</h1>
   {% if usuario is none %}
     <form method="POST" action="/login">
       Usuario: <input type="text" name="username"><br/>
       Contrase&ntilde;a: <input type="password" name="password"><br/>
       <input type="submit" value="Enviar"><br/>
     </form>
   {% else %}
     <p>Authenticated with {{ usuario }} <a href="/logout">[Logout]</a> </p>
   {% endif %}
</body>
</html>
